h2 {
  font-size: 32px;
  text-align: center;
  position: relative;
  bottom: 150px;
}

.avatars {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 100px;

  img {
    margin: 20px;
    border-radius: 10px;
  }

  .selected {
    background-color: #006064;
  }
}

.choose-avatar {
  text-align: center;
  position: relative;
  bottom: 100px;
}

.color-input {
  text-align: center;
  position: relative;
  bottom: 80px;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 50px;
}

.username-input {
  text-align: center;
  position: relative;
  bottom: 130px;
}
