form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input:focus {
  outline: none;
}

.user-typing {
  position: relative;
  left: 300px;
  bottom: 20px;
  opacity: 0.9;
}
