form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;

  input:focus {
    outline: none;
  }

  .Message-input {
    padding: 20px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #adadad70;
    border: none;
    flex-grow: 1;
  }
}

.user-typing {
  position: relative;
  left: 300px;
  bottom: 20px;
  opacity: 0.9;
}
